// Entretelas Brand Colors
$entretelas-brown: #542e26;
$entretelas-orange: #e87722;
$entretelas-red: #cb2c30;
$entretelas-dark-brown: #3e221c;
$entretelas-soft-tan: #f1e5d6;

// Colors on dark background
$colors-on-dark: (
  "danger": #ff4657,
);
